.search-container {
  position: relative;
}

input {
  width: 250px;
  height: 40px;
  border: none;
  font-size: 14px;
  padding-left: 12px;
  box-shadow: 0px 3px 0px 0px #ccc;
  border-radius: 5px;
}

.search-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  svg {
    position: relative;
  }

  &:hover {
    background: #ccc;
    transform: scale(1.1);
  }
}