@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Roboto:wght@400;500;700&display=swap');

:root {
  --white: #fff;
  --gray900:  #121214;
  --gray800: #202024;
  --gray300: #c4c4cc;
  --gray100: #e1e1e6;

  --green500: #00875f;
  --green300: #00b37e;

  --greenMenta300: #a8ce46;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 375px;
}

header {
  margin: 24px 0 0 24px;
  cursor: pointer;
}

form {
  background-color: var(--gray900);
  width: 80%;
  height: 70%;
  border-radius: 4px;
  margin: auto;

  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: baseline;
  gap: 16px;
}

form h1 {
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.text-info {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#subtitle {
  margin: 8px 0;
}

.input {  
  display: flex;
  flex-direction: column;
  
  width: 335px;
  margin: 8px 0 4px 0;

  position: relative;
}

.input-check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 335px;
  margin: 16px 0 16px 0;
}

.input-check > span {
  color: var(--white);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  cursor: pointer;
  transition: all .2s ease;
}

input[type="email"] {
  background-image: url("./images/mail.svg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 20px;
  background-position: left center;
}

input[type="email"]:focus {
  background-image: url("./images/mail-focus.svg");
}

input#password {
  background-image: url("./images/lock.svg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 20px;
  background-position: left center;
}

input#password:focus {
  background-image: url("./images/lock-focus.svg");
}

#password ~ img {
  position: absolute;
  margin: 35px 0 0 90%;
  cursor: pointer;
}


input[type="email"]::placeholder, input#password::placeholder {
  font-size: 14px;
}  

input[type="email"], input#password {
  padding: 3px 6px 3px 26px;
  margin-top: 4px;

  height: 44px;
  border: 2px solid #868686;
  border-radius: 4px;
  outline: 0;

  transition: all .1s ease-out;
}

input[type="email"]:focus, input#password:focus {
  border: 4px solid var(--greenMenta300);
}

.input-check div:first-child {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--green300);
  border-radius: 4px;
}

.input-check div:first-child.checked {
  background-color: var(--green300);
}

.input-check input {
  display: none;
}

.input-check label {
  display: flex;
  justify-content: center;
  gap: 10px; 
}

button {
  width: 335px;
  background-color: var(--greenMenta300);
  height: 51px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #473404;
  outline: 0;
  text-transform: uppercase;
}

button ~ p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
}

button ~ p > a {
  text-decoration: none;
  font: inherit;
  color: var(--green300);
  font-weight: 600;
  cursor: pointer;
}

button ~ p > a:focus {
  text-decoration: underline;
}

section {
  width: 50%; 
  height: 100vh;

  background-image: url("./images/side-image-2x.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .input, button, .input-check {
    width: 75%;
  }

  main {
    flex: 2
  }
}

