.ofertasDaSemana {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  text-align: center;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: rgba(19, 18, 18, 0.863);
    font-size: 2rem;
  }

  

  .slider {
    height: 320px;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    
    div {
      margin: auto;
      vertical-align: top;
    }
  }

  .slider::after {
    content: '>';
    font-size: 45px;
    display: flex;
    align-items: center;
    text-align: cent
  }

  .slider::before {
    content: '<';
    font-size: 45px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .icon {
    text-align: center;
    font-size: 40px;
    color: rgba(19, 18, 18, 0.863);
  }

  .bannerProduto {
    display: flex;
    align-items: center;
    text-align: center;

    div {

      .produto {
        display: flex;
        justify-content: space-between;
        margin-left: 4rem;
        margin-bottom: 4rem;
      }
    }
  }

  .produtos {
    display: flex;
    flex-direction: row;
  }

  @media screen and (max-width: 766px) {
    .produtos {
      display: flex;
      flex-direction: column;
    }
  }
}