.slider {
  height: 300px;
  width: 100%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  
}


.slider img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
  object-fit: cover;
}