.slider {
  display: block;
  height: 293px;
  width: 600px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.slider li {
  list-style: none;
  position: absolute;
}

.slider img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
}