.produto {
  display: flex;
  border-radius: 8px;
  height: 19.5rem;
  width: 14.5rem;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  transition: 0.1s;
}

.produto:hover {
  border: 1px solid var(--verde-menta);
  outline: 1px solid var(--verde-menta); 
  box-shadow: 3px 3px 10px black;
}

.produto > div > img {
  height: 100%;
  width: 100%;
  object-fit: cover ;
  border-bottom: 2px solid var(--verde-menta);
  content: '';
  transition: 0.1s;
}

.produto > div > img:hover {
  border-bottom: none;
}


h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
}



